body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    text-align: center;
    display: flex;
    flex-direction: row; /* Modifier la direction en ligne (row) */
    align-items: center;
}

textarea {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    margin: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
.erreur {
    color: red;
}